<a href="https://colab.research.google.com/github/Niiihariiikaa/IASsummerproject/blob/main/15_09_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Set

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements = set(my_list)
print(unique_elements)

{1, 2, 3, 4, 5}

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
union = set1.union(set2)          # {1, 2, 3, 4, 5, 6}
intersection = set1.intersection(set2)  # {3, 4}
difference = set1.difference(set2)  # {1, 2}
print(union,intersection,difference,sep="\n")

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [ ]:
prohibited_items = {"knife", "gun", "drugs"}
item = "knife"
if item in prohibited_items:
    print(f"{item} is prohibited.")

knife is prohibited.

In [ ]:
set1={1,2,3,4,5,5,43,2,2,3}
list1=list(set1)
print(set1)
print(list1)
print(set1[3])

{1, 2, 3, 4, 5, 43}
[1, 2, 3, 4, 5, 43]

TypeError: 'set' object is not subscriptable

In [ ]:
list1=[5,4,3,2,1,1]
set1={5,4,3,2,1,1}
print(list1,set1)

[5, 4, 3, 2, 1, 1] {1, 2, 3, 4, 5}

Dictionaries

In [ ]:
record = {
    'id': 1,
    'name': 'John Doe',
    'email': 'john.doe@example.com',
    'age': 30
}
print(record['id'])
record.get("name")

1

'John Doe'

In [ ]:
dict1={"apple":1,"banana":2,"orange":3}
print(dict)
keys=dict1.keys()
values=dict1.values()
print(keys)
print(values)
a=24

{'apple': 1, 'banana': 2, 'orange': 3}
dict_keys(['apple', 'banana', 'orange'])
dict_values([1, 2, 3])

In [ ]:
elements = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
frequency = {}
for item in elements:
    frequency[item] = frequency.get(item, 0) + 1
    print(frequency)
# Output: {'apple': 3, 'banana': 2, 'orange': 1}
print(frequency)

{'apple': 1}
{'apple': 1, 'banana': 1}
{'apple': 2, 'banana': 1}
{'apple': 2, 'banana': 1, 'orange': 1}
{'apple': 2, 'banana': 2, 'orange': 1}
{'apple': 3, 'banana': 2, 'orange': 1}
{'apple': 3, 'banana': 2, 'orange': 1}